<h1>Dados sobre o filme "<%= @movie.name%>"</h1>

<%= link_to 'Editar dados do filme', edit_movie_path(@movie) %>

<h2><%= @movie.name %></h2>

<dl>
  <dt>Ano de Lançamento:</dt>
  <dd><%= @movie.release_year %></dd>

  <dt>País:</dt>
  <dd><%= @movie.country %></dd>

  <dt>Duração:</dt>
  <dd><%= @movie.length %></dd>

  <dt>Diretor:</dt>
  <dd><%= @director.name %></dd>

  <dt>Gênero:</dt>
  <dd><%= @genre.option %></dd>
  
  <dt>Status:</dt>
  <dd><%= @movie.status %></dd>

  <% if @movie.release_year > Time.current.year %>
    <dt>Status de Lançamento:</dt>
    <dd>a ser lançado</dd>
  <% else %>
    <dt>Status de Lançamento:</dt>
    <dd>já lançado</dd>
  <% end %>
</dl>

<% if @movie.published? %>
  <%= button_to 'Despublicar', publish_movie_path, method: 'patch' %>
<% else %>     
  <%= button_to 'Publicar', publish_movie_path, method: 'patch' %>
<% end %>
