<h1>Dados sobre o filme "<%= @movie.name%>"</h1>

    <%= link_to 'Editar dados do filme', edit_movie_path %>

    <%= @movie.name%>

    <%= @movie.release_year %>

    <%= @movie.country %>


    <%= @movie.length %>


    <%= @director.name %>

    <%= @genre.option%>

    <%= @movie.release_year > Time.current.year ? flash.notice = 'a ser lançado' : flash.notice = 'já lançado' %>
    